<%- include ('partials/header')%>

<main class="container" id="business-dashboard">
    <div id="profile">
        <div class="image">
            <img src="/uploads/<%= profile.b_photoURL %>" alt="">
        </div>
        <table>
            <tbody>
                <tr>
                    <td  class="info">Name</td>
                    <td class="detail"><%= profile.b_name %></td>
                </tr>
                <tr>
                    <td class="info">Category</td>
                    <td class="detail"><%= profile.b_category %></td>
                </tr>
                <tr>
                    <td class="info">Description</td>
                    <td class="detail"><%= profile.b_description %></td>
                </tr>
            </tbody>
        </table>
        <a href="/business/edit-profile/<%= profile.b_id%>">Edit Profile</a>
        
        
        
    </div>
    <div id="reviews">
        <% if (reviews.length > 0) { %>
            <% reviews.forEach(review => {%>
                <div class="review">
                   <div class="profile-pic">
                    <img src="/uploads/<%= review.photoURL %>" alt="">
                   </div>
                    <div class="info">
                        <h1><%= review.fullname %></h1>
                        <p> <%= review.review %></p>
                        <div > 
                            <% if(JSON.parse(review.pictures).length > 0){ %>
                                <% JSON.parse(review.pictures).forEach( picture => { %>
                                    <img class="photosfromreviews" src="/uploads/<%= picture%>" alt="">

                                <% }) %>
                           <%  }%>
                        </div>
                        <small><%= review.date_posted.toString().split(' G')[0] %></small>
                    </div>
                </div>

            <% })%>

        <% } else { %>

            <h3>This business has not been reviewed yet</h3>

        <% }%>
    </div>
    
</main>

<%- include ('partials/footer')%>